<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="io.github.mokaim.mapper">


	<!--  SELECT 문 -->

    <select id="select_View" resultType="io.github.mokaim.domain.ViewInfoDTO" parameterType="int">

         SELECT post._post_num,
			   post._post_title,
			   post._post_content,
			   post._post_usr,
			   post._post_datetime,
			   img._img_num,
			   img._img_name,
			   img._img_location FROM post post FULL OUTER JOIN img img ON post._post_num = img._img_num WHERE post._post_num = #{_post_num}

	</select>

	<select id="select_List" resultType="io.github.mokaim.domain.ViewInfoDTO">
    	SELECT post._post_num,
			   post._post_title,
			   post._post_content,
			   post._post_usr,
			   post._post_datetime,
			   img._img_num,
			   img._img_name,
			   img._img_location FROM post post FULL OUTER JOIN img img ON post._post_num = img._img_source ORDER BY post._post_num DESC;
    </select>


	<select id="select_CurrentDate" resultType="string">
		SELECT GETDATE()
	</select>

	<select id="select_CommentsByPostNumber" resultType="io.github.mokaim.domain.CommentsDTO" parameterType="int">
		SELECT * FROM comments WHERE _post_num = #{_post_num}
	</select>

	<select id="select_CommentsAndReplyByPostNumber" resultType="io.github.mokaim.domain.CommentsAndReplyDTO" parameterType="int">
		SELECT comments.comments_id,
	 		   comments.comments_content,
	 		   comments._usr_email,
	  		   comments._post_num,
	  		   comments.reg_date,
	  		   reply._reply_num,
	   		   reply._usr_email AS reply_usr_email,
	 		   reply.comments_id AS reply_comments_id,
	  		   reply._post_num AS reply_post_num,
	  		   reply.reply_content,
	   		   reply.reply_date FROM comments comments LEFT JOIN reply reply ON comments.comments_id = reply.comments_id WHERE comments._post_num = #{_post_num} ORDER BY comments.comments_id DESC;

	</select>







	<!-- INSERT 문 -->
    <insert id="insert_Post" parameterType="io.github.mokaim.domain.PostDTO">
		DECLARE @_post_datetime DATETIME
		SELECT @_post_datetime = getdate()
		INSERT INTO post VALUES(NEXT VALUE FOR post_seq, #{_post_title}, #{_post_content},'admin', @_post_datetime)
	</insert>

	<insert id="insert_Img" parameterType="io.github.mokaim.domain.ImageDTO">
		INSERT INTO img VALUES(NEXT VALUE FOR img_seq, #{_img_name}, #{_img_location}, #{_img_source})
	</insert>


	<insert id="insert_Comments" parameterType="io.github.mokaim.domain.CommentsDTO">
		INSERT INTO comments VALUES(NEXT VALUE FOR comments_seq, #{comments_content}, #{_usr_email}, #{_post_num}, #{reg_date})
	</insert>







	<!-- COUNT 문 -->
	<select id="count_Post" resultType="int">
		SELECT COUNT(*) FROM post
	</select>

	<select id="count_LastPostNumber" resultType="int">
		SELECT TOP 1 _post_num FROM post ORDER BY _post_num DESC
	</select>







</mapper>