<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="io.github.mokaim.mapper">


	<select id="count_imgTest" resultType="int">
    	SELECT COUNT(*) FROM test_image
    </select>


    
    <select id="select_AllList" resultType="io.github.mokaim.domain.ViewInfoDTO">
    	SELECT write.bno,
			   write.title,
			   write.story,
			   img._img_id,
			   img._img_name,
			   img._img_url FROM test_write write FULL OUTER JOIN test_image img ON write.bno = img.bno ORDER BY write.bno DESC;
    </select>
    
    
    
    
    <select id="count_Write" resultType="int">
    	SELECT COUNT(*) FROM test_write
    </select>
    
	<insert id="insert_Write" parameterType="io.github.mokaim.domain.WriteDTO">
		INSERT INTO test_write VALUES(#{bno}, #{title}, #{story})
	</insert>
	
	
	<select id="select_viewTest" resultType="io.github.mokaim.domain.ViewInfoDTO" parameterType="int">
			
		SELECT write.bno,
			   write.title,
			   write.story,
			   img._img_id,
			   img._img_name,
			   img._img_url FROM test_write write FULL OUTER JOIN test_image img ON write.bno = img.bno WHERE write.bno = #{bno}
    
	</select>
   
</mapper>