<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="io.github.mokaim.mapper">


	<select id="count_imgTest" resultType="int">
    	SELECT COUNT(*) FROM test_image
    </select>

    
    <insert id="insert_imgTest" parameterType="io.github.mokaim.domain.TestImageDTO">
    	INSERT INTO test_image VALUES(#{_img_id},#{_img_name},#{_img_url})
    </insert>
    
    
    <select id="select_AllList" resultType="io.github.mokaim.domain.TestImageDTO">
    	SELECT * FROM test_image
    </select>
    
    

   
</mapper>